 #sidebar {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: rgba(51, 51, 51, 0.3);
    color: #fff;
    backdrop-filter: blur(10px);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding: 20px;
    box-shadow: -4px 0 8px rgba(0,0,0,0.3);
}
#sidebar.show {
    transform: translateX(0);
}
.sidebar-header {
    font-size: 1.5em;
    margin-bottom: 10px; /* Space between header and divider */
    border-bottom: 1px solid red; /* Red divider line */
    padding-bottom: 10px; /* Padding below header to space out from divider */
}
.sidebar-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    margin: 5px 0;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.sidebar-nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}
.sidebar-nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
.sidebar-nav a:hover {
    color: #ff5722;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.8); /* Add white glow to text */
}
.sidebar-nav a.indent-h2 {
    padding-left: 20px;
}
.sidebar-nav a.indent-h3 {
    padding-left: 40px;
}
#toggle-btn {
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #ff5722;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
#toggle-btn:hover {
    background-color: #e64a19;
}
#toggle-btn::before {
    content: '+';
    font-size: 24px;
    line-height: 1;
    transition: transform 0.3s ease;
}
#sidebar.show ~ #toggle-btn::before {
    transform: rotate(315deg);
}
  h2, h3, h4, h5, h6 {
    position: relative;
    padding-left: 40px; 
    margin-bottom: 20px;
    display: inline-block; 
}

h2::before, h3::before, h4::before, h5::before, h6::before {
    content: "#\00a0";
    color: green;
    font-size: 24px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

h2:hover::before, h3:hover::before, h4:hover::before, h5:hover::before, h6:hover::before {
    opacity: 1;
}
img {
  box-shadow: 2px 2px 3px white;
  border-radius: 10px;
    max-height: 300px; 
    width: auto; 
    height: auto; 
    margin: 10px 0; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.window {
  position: relative; 
 height: auto; 
  max-height: 500px;  
  width: 800px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 15px;
  overflow: hidden;
}

.window-title {
  height: 30px;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.window-title p {
  color: #fff;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: left;
}

.window-buttons {
  display: flex;
  align-items: center;
}

.window-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 5px;
  transition:-color 0.2s ease;
}

.window-button.close {
  background-color: #f00;
}

.window-button.close:hover {
  background-color: rgb(182, 2, 2);
  cursor: pointer;
}

.window-button.reduce {
  background-color: #ff0;
}

.window-button.reduce:hover {
  background-color: rgb(172, 172, 4);
  cursor: pointer;
}

.window-button.fullscreen {
  background-color: #0f0;
}

.window-button.fullscreen:hover {
  background-color: rgb(7, 159, 7);
  cursor: pointer;
}

.window-button:focus {
  outline: none;
}

.console {
  width: 100%;
  height: auto; 
  max-height: calc(100% - 30px);  
  background-color: #000;
  color: #fff;
  overflow: auto;
}


.console pre {
  margin: 0;
  padding: 5px;
  font-size: 15px;
}

.console pre code {
  color: #0f0;
  outline: none;
}

.console::-webkit-scrollbar {
  width: 8px;
}

.console::-webkit-scrollbar-track {
  background-color: #333;
}

.console::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 10px;
  border: 2px solid #333;
}

.console::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.buttont {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 20px; 
  text-shadow: 1px 1px 4px #37FF8B;
}

.buttont {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.buttont:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}
p{
   color: black;
  text-shadow: 0.1px 0.1px 5px white; 
   font-size: 18.5px;
}
h1{
  color: white;
  text-shadow: 2px 2px 2px black; 
}
h2{
  color: white;
  text-shadow: 2px 2px 2px black; 
}
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #714da6;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}




@font-face {
    font-family: '你是我的可爱宝贝';
    src: url('NiShiWoDeKeAiBaoBei-2.ttf') format('truetype');
}

body {
    font-family: '你是我的可爱宝贝',sans-serif;
    font-size: 110%;
    line-height: 1.6;
    margin: 0;
    padding: 0;
     background-image: url('https://api.imlazy.ink/img');
    background-position: center; 
    background-size: cover;
    transition: background-color 0.3s ease; 
    background-attachment: fixed; 
    scroll-behavior: smooth;
     text-shadow: 0.1px 0.1px 5px white; 

}

header {
    text-align: center;
    background: rgba(255, 255, 255, 0.3); 
    color: #fff;
    padding: 6rem 0; 
    border-radius: 0 0 20px 20px;
    backdrop-filter: blur(6px); 
    animation: fadeInDown 1s;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    margin-top: 50px; /* Increase the margin to push the image down */
}

.profile-picture img:hover {
    transform: scale(1.1);
}

h1 {
    margin-top: 20px;
}

nav {
    background: #444;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    border-radius: 0 0 20px 20px;
    animation: fadeInDown 1s 0.5s backwards;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-radius: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
    color: #ffd700;
    transform: translateY(-3px); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.1); 
}

nav ul li a:active {
    transform: scale(0.95);
}

main {
    padding: 2rem;
    animation: fadeIn 1s 1s backwards;
    padding-top: 100px; 
}

section {
    font-family: Arial, sans-serif !important; 
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.3); 
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    backdrop-filter: blur(6px);
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

.gallery {
     font-family: '你是我的可爱宝贝', sans-serif; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.gallery-item {
  font-family: '你是我的可爱宝贝', sans-serif; 
    flex: 1 1 calc(33.333% - 1rem);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: lightblue; 
}

.gallery-item a {
    text-decoration: none;
    color: inherit;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    background-color: lightblue; 
}

.gallery-item img:hover {
    transform: scale(1.05);
}

.gallery-item p {
    margin: 0;
    padding: 1rem;
    background-color: lightblue; 
    border-top: 1px solid #ddd;
    transition: background-color 0.3s ease;
}

.gallery-item:hover p {
    background-color: lightblue;
}

.links-gallery {
  font-family: '你是我的可爱宝贝', sans-serif; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.link-item {
  font-family: '你是我的可爱宝贝', sans-serif; 
    flex: 1 1 calc(33.333% - 1rem);
    display: flex;
    align-items: center;
    padding: 1rem;
    background: lightblue; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.link-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}


.link-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 1rem;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.link-icon img {
    width: 100%;
    height: auto;
    display: block;
}

.link-content {
    flex: 1;
}

.link-content h3 {
    margin: 0;
    font-size: 1.2rem;
}

.link-content p {
    margin: 0.5rem 0 0;
    color: #666;
}

.link-content a {
    text-decoration: none;
    color: #2575fc;
    transition: color 0.3s ease;
}

.link-content a:hover {
    color: #6a11cb;
}

footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    border-radius: 20px 20px 0 0;
    animation: fadeInUp 1s 1.5s backwards;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #444;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #666;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px) scale(1.05);
}

.button:active {
    background-color: #666;
    box-shadow: 0 5px #666;
    transform: translateY(4px) scale(0.95);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn-donate {
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn-donate:hover {
  background-position: right top;
}

.btn-donate:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}
.parent {
  width: 300px;
  padding: 20px;
  perspective: 1000px;
}

.carde {
  font-family: '你是我的可爱宝贝', sans-serif; 
  padding-top: 50px;
  /* border-radius: 10px; */
  border: 3px solid rgb(255, 255, 255);
  transform-style: preserve-3d;
  background: linear-gradient(135deg,#0000 18.75%,#f3f3f3 0 31.25%,#0000 0),
      repeating-linear-gradient(45deg,#f3f3f3 -6.25% 6.25%,#ffffff 0 18.75%);
  background-size: 60px 60px;
  background-position: 0 0, 0 0;
  background-color: #f0f0f0;
  width: 100%;
  box-shadow: rgba(142, 142, 142, 0.3) 0px 30px 30px -10px;
  transition: all 0.5s ease-in-out;
}

.carde:hover {
  background-position: -100px 100px, -100px 100px;
  transform: rotate3d(0.5, 1, 0, 30deg);
}

.content-box {
  background: rgba(4, 193, 250, 0.732);
  /* border-radius: 10px 100px 10px 10px; */
  transition: all 0.5s ease-in-out;
  padding: 60px 25px 25px 25px;
  transform-style: preserve-3d;
}

.content-box .carde-title {
  display: inline-block;
  color: white;
  font-size: 25px;
  font-weight: 900;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 50px);
}

.content-box .carde-title:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .carde-content {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
  color: #f2f2f2;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 30px);
}

.content-box .carde-content:hover {
  transform: translate3d(0px, 0px, 60px);
}

.content-box .see-more {
  cursor: pointer;
  margin-top: 1rem;
  display: inline-block;
  font-weight: 900;
  font-size: 9px;
  text-transform: uppercase;
  color: rgb(7, 185, 255);
  /* border-radius: 5px; */
  background: white;
  padding: 0.5rem 0.7rem;
  transition: all 0.5s ease-in-out;
  transform: translate3d(0px, 0px, 20px);
}

.content-box .see-more:hover {
  transform: translate3d(0px, 0px, 60px);
}

.date-box {
  position: absolute;
  top: 30px;
  right: 30px;
  height: 60px;
  width: 60px;
  background: white;
  border: 1px solid rgb(7, 185, 255);
  /* border-radius: 10px; */
  padding: 10px;
  transform: translate3d(0px, 0px, 80px);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 17px 10px -10px;
}

.date-box span {
  display: block;
  text-align: center;
}

.date-box .month {
  color: rgb(4, 193, 250);
  font-size: 9px;
  font-weight: 700;
}

.date-box .date {
  font-size: 20px;
  font-weight: 900;
  color: rgb(4, 193, 250);
}
 
@media (prefers-reduced-motion: reduce) {
  .btn-donate {
    transition: linear;
  }
}

.bcard {
  font-family: '你是我的可爱宝贝', sans-serif; 
  margin: 0 auto;
  background-color: #F8FBFE;
  border-radius: 8px;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.tools {
 display: flex;
 align-items: center;
 padding: 9px;
}

.circle {
 padding: 0 4px;
}

.box {
  font-family: '你是我的可爱宝贝', sans-serif; 
 display: inline-block;
 align-items: center;
 width: 10px;
 height: 10px;
 padding: 1px;
 border-radius: 50%;
}

.red {
 background-color: #ff605c;
}

.yellow {
 background-color: #ffbd44;
}

.green {
 background-color: #00ca4e;
}

.card-item {
  font-family: '你是我的可爱宝贝', sans-serif; 
  border-radius: 1rem;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.ccard {
  font-family: '你是我的可爱宝贝', sans-serif; 
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 266.67px;
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 7.5px;
    box-sizing: border-box;
    gap: 7.5px;
    position: fixed; 
    bottom: 10px; 
    right: 10px; 
    z-index: 1000; 
}

.cover {
    width: 66.67px;
    height: 66.67px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    flex-shrink: 0;
    background-image: url('msc.jpg'); /* Updated cover image */
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7.5px;
}

.info .title {
    font-size: 14px; /* Increased size */
    font-weight: bold;
    margin: 0;
    color: #333;
}

.info .artist {
    font-size: 11px; /* Increased size */
    color: #777;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.controls .progress-container {
    width: 100%;
    height: 3.75px;
    background-color: #ddd;
    border-radius: 3.75px;
    margin-bottom: 7.5px;
    position: relative;
}

.controls .progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0%;
    border-radius: 3.75px;
    transition: width 0.2s;
}

.controls .progress-container input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.controls-buttons {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.controls-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition: color 0.3s;
}

.controls-buttons button:hover {
    color: #007bff;
}

.volume-control {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3.75px;
}

.volume-control button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.volume-slider {
    display: none;
    position: absolute;
    top: -30px; /* Show above the button */
    right: 0;
    width: 75px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 3.75px;
    border-radius: 3.75px;
    z-index: 2000; /* Ensure it is on top of all other elements */
}

.volume-slider input {
    width: 100%;
}
